.section-2 {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: blue;
	display: flex;
}

.project-secondSection-text {
	background-color: red;
	width: 40%;
	height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.mockup {
	background-color: green;
	width: 60%;
	height: 100%;
}