#project-secondSection-text {
	height: 100vh;
	width: 50vw;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	/*background-color: green;*/
	justify-content: center;
	align-items: center;
  transform: translate3d(0, 0vh, 0);
	z-index: 101;
}

.section2-text {
  position: absolute;
  top: 0;
  background: transparent;
  transform: translate3d(0, 0vh, 0);
  transition: transform .02s cubic-bezier(1,1,0,0);
  z-index: 101;	
}

.mockup {
	height: 50vh;
	width: 50vw;
	right: 0;
	position: fixed;
	background-color: red;
	transform: translate3d(0,0,0);
  transition: transform .02s cubic-bezier(1,1,0,0);
	z-index: 1000;
}

.mockup img {
	position: absolute;
	transform: translate3d(0,0,0);
	transition: transform .02s cubic-bezier(1,1,0,0);
}

.mockup h1 {
	width: 50%;
	background-color: green;
}