#home-image1 {
  background-color: #EEE;
  /*width: 100vw;*/
  position: fixed;
  padding-top: 200px;
  top: 0;
  left: 0;
  transform: translate3d(0, 0vh, 0);
  transition: transform .1s cubic-bezier(1,1,0,0);
  z-index: 100;
}

#image1 {
  margin-top: 100px;
  height: 400px;
  width: 400px;
  /*border: solid;*/
  /*border-color: red;*/
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
#image1 img {
  position: absolute;
  max-height: 150%;
  filter:  grayscale(100%);
  transform: translate3d(0, 0vh, 0);
  transition: max-height .3s, filter 1.5s cubic-bezier(.56,.33,.32,.87), transform .1s cubic-bezier(1,1,0,0);
}


#image1 img:hover {
  filter: grayscale(0);
  transform: translate3d(0, 0vh, 0);
  max-height: 170%
}