#home-title {
  background-color: #EEE;
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  transform: translate3d(0, 0vh, 0);
  transition: transform .1s cubic-bezier(.56,.3,0,1);
  z-index: 1000;
}